<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Conexion -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/monitoriasdb?useSSL=false&amp;serverTimezone=America/Bogota&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- NO especificar dialecto - Hibernate 7 lo detecta automáticamente -->

        <!-- Mostrar SQL -->
        <property name="show_sql">true</property>

        <!-- Actualizar tablas -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Tus entidades -->
        <mapping class="com.academico.academicosena.entity.Usuario"/>
        <mapping class="com.academico.academicosena.entity.TipoUsuario"/>
    </session-factory>
</hibernate-configuration>